In [1]:
# Math & data
import numpy as np
import pandas as pd
import itertools

In [2]:
df_feature_importance = pd.read_csv('feature_importance_XGBoost_Test roc_auc=0.789662.csv', sep=";")
df_feature_importance

                               feature  importance
0                          CODE_GENDER    0.006239
1                         FLAG_OWN_CAR    0.003012
2                      FLAG_OWN_REALTY    0.001540
3                         CNT_CHILDREN    0.001103
4                     AMT_INCOME_TOTAL    0.001184
..                                 ...         ...
790   CC%NAME_CONTRACT_STATUS__nan#MAX    0.000000
791  CC%NAME_CONTRACT_STATUS__nan#MEAN    0.000000
792   CC%NAME_CONTRACT_STATUS__nan#SUM    0.000000
793   CC%NAME_CONTRACT_STATUS__nan#VAR    0.000000
794                        CC%COUNT_NR    0.001622

[795 rows x 2 columns]

In [3]:
def get_root_feat(row):
    sep1 = '%'
    sep2 = '__'
    sep3 = '#'
    root_feat = row
    if sep1 in root_feat:
        root_feat = root_feat.split(sep1)[1]
    if sep2 in root_feat:
        root_feat = root_feat.split(sep2)[0]
    if sep3 in root_feat:
        root_feat = root_feat.split(sep3)[0]
    # print(f"root_feat = {root_feat}")
    return root_feat

def get_context(row):
    sep1 = '%'
#     sep2 = '__'
#     sep3 = '#'
    context = row
    if sep1 in context:
        tab = context.split(sep1)
        context = tab[0]+sep1
#         context = tab[1]
    return context

def get_operation(row):
    sep = '#'
    operation = np.nan
    if sep in row:
        operation = row.split(sep)[1].lower()
    return operation

def get_context_and_root_feat(row):
#     sep1 = '%'
#     sep2 = '__'
    sep3 = '#'
    context_and_root_feat = row
#     if sep1 in context_and_root_feat:
#         context_and_root_feat = root_feat.split(sep1)[1]
#     if sep2 in context_and_root_feat:
#         context_and_root_feat = context_and_root_feat.split(sep2)[0]
    if sep3 in context_and_root_feat:
        context_and_root_feat = context_and_root_feat.split(sep3)[0]
    # print(f"context_and_root_feat = {context_and_root_feat}")
    return context_and_root_feat

# Pré-traitements avant opérations

# Pre-treatments before operations

In [4]:
df_feature_importance['Root feature'] = df_feature_importance['feature'].apply(get_root_feat)
# df_feature_importance['Context'] = df_feature_importance['feature'].apply(get_context)
df_feature_importance['Context+root feature'] = df_feature_importance['feature'].apply(get_context_and_root_feat)
df_feature_importance['Operation'] = df_feature_importance['feature'].apply(get_operation)
df_feature_importance

,feature,importance,Root feature,Context+root feature,Operation
0,CODE_GENDER,0.006239,CODE_GENDER,CODE_GENDER,NaN
1,FLAG_OWN_CAR,0.003012,FLAG_OWN_CAR,FLAG_OWN_CAR,NaN
2,FLAG_OWN_REALTY,0.001540,FLAG_OWN_REALTY,FLAG_OWN_REALTY,NaN
3,CNT_CHILDREN,0.001103,CNT_CHILDREN,CNT_CHILDREN,NaN
4,AMT_INCOME_TOTAL,0.001184,AMT_INCOME_TOTAL,AMT_INCOME_TOTAL,NaN
...,...,...,...,...,...
790,CC%NAME_CONTRACT_STATUS__nan#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,max
791,CC%NAME_CONTRACT_STATUS__nan#MEAN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,mean
792,CC%NAME_CONTRACT_STATUS__nan#SUM,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,sum
793,CC%NAME_CONTRACT_STATUS__nan#VAR,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,var
794,CC%COUNT_NR,0.001622,COUNT_NR,CC%COUNT_NR,NaN

# Regroupement des importances pour les groupes de variables

# Grouping of importances for groups of variables

**Remarque :** On sait que des variables portent plusieurs fois le même nom dans les différentes tables, mais il est logique de les traiter de façon homogène.

**Note:** We know that variables have the same name several times in the different tables, but it is logical to treat them in a homogeneous way.

In [5]:
# df_agg_ctx_root = df_feature_importance.groupby('Context+root feature')['importance'].agg(sum).reset_index()
df_agg_root = df_feature_importance.groupby('Root feature')['importance'].agg(sum).reset_index()
df_agg_root.columns = ['Root feature', 'Root feature importance']
df_agg_root = df_agg_root.sort_values(by='Root feature importance', ascending=False)
df_agg_root.head(20)

               Root feature  Root feature importance
135          MONTHS_BALANCE                 0.031063
0               AMT_ANNUITY                 0.024346
138    NAME_CONTRACT_STATUS                 0.024211
161       ORGANIZATION_TYPE                 0.023146
35          APP_CREDIT_PERC                 0.022777
166     PRODUCT_COMBINATION                 0.021740
142     NAME_GOODS_CATEGORY                 0.018657
15          AMT_GOODS_PRICE                 0.018405
63            DAYS_DECISION                 0.018281
60              DAYS_CREDIT                 0.018241
140     NAME_EDUCATION_TYPE                 0.017674
83             EXT_SOURCE_3                 0.016821
7       AMT_CREDIT_SUM_DEBT                 0.016473
149         NAME_TYPE_SUITE                 0.015573
10         AMT_DOWN_PAYMENT                 0.015034
160         OCCUPATION_TYPE                 0.014866
136  NAME_CASH_LOAN_PURPOSE                 0.014865
3                AMT_CREDIT                 0.014487
61      DAYS_CREDIT_ENDDATE                 0.014445
6            AMT_CREDIT_SUM                 0.014305

In [6]:
df_agg_root.loc[df_agg_root['Root feature']=='EXT_SOURCE_3']

    Root feature  Root feature importance
83  EXT_SOURCE_3                 0.016821

In [8]:
df_agg_root.to_csv('root_feature_importance.csv', sep=";", index=False)

# Repérage de l'opération la plus importante

# Identification of the most important operation

In [9]:
df_agg_best_op = df_feature_importance.groupby(['Context+root feature'])[['Context+root feature', 'importance']].agg({'importance': max}).reset_index()
df_agg_best_op.columns = ['Context+root feature', 'importance max']
df_agg_best_op.tail(50)

                                  Context+root feature  importance max
507  PREV%PRODUCT_COMBINATION__POS other with interest        0.001655
508  PREV%PRODUCT_COMBINATION__POS others without i...        0.000000
509                      PREV%PRODUCT_COMBINATION__nan        0.000000
510                             PREV%RATE_DOWN_PAYMENT        0.001698
511            PREV%WEEKDAY_APPR_PROCESS_START__FRIDAY        0.001115
512            PREV%WEEKDAY_APPR_PROCESS_START__MONDAY        0.001195
513          PREV%WEEKDAY_APPR_PROCESS_START__SATURDAY        0.000961
514            PREV%WEEKDAY_APPR_PROCESS_START__SUNDAY        0.001262
515          PREV%WEEKDAY_APPR_PROCESS_START__THURSDAY        0.001030
516           PREV%WEEKDAY_APPR_PROCESS_START__TUESDAY        0.001092
517         PREV%WEEKDAY_APPR_PROCESS_START__WEDNESDAY        0.001217
518               PREV%WEEKDAY_APPR_PROCESS_START__nan        0.000000
519                                REFUSED%AMT_ANNUITY        0.001440
520                            REFUSED%AMT_APPLICATION        0.001453
521                                 REFUSED%AMT_CREDIT        0.001872
522                           REFUSED%AMT_DOWN_PAYMENT        0.001457
523                            REFUSED%AMT_GOODS_PRICE        0.001412
524                            REFUSED%APP_CREDIT_PERC        0.001747
525                                REFUSED%CNT_PAYMENT        0.001765
526                              REFUSED%DAYS_DECISION        0.003839
527                    REFUSED%HOUR_APPR_PROCESS_START        0.001500
528                          REFUSED%RATE_DOWN_PAYMENT        0.001356
529                         REGION_POPULATION_RELATIVE        0.001192
530                               REGION_RATING_CLIENT        0.001246
531                        REGION_RATING_CLIENT_W_CITY        0.002714
532                             REG_CITY_NOT_LIVE_CITY        0.002294
533                             REG_CITY_NOT_WORK_CITY        0.001025
534                         REG_REGION_NOT_LIVE_REGION        0.000000
535                         REG_REGION_NOT_WORK_REGION        0.000675
536                                     TOTALAREA_MODE        0.001287
537                          WALLSMATERIAL_MODE__Block        0.000934
538                          WALLSMATERIAL_MODE__Mixed        0.000000
539                     WALLSMATERIAL_MODE__Monolithic        0.000000
540                         WALLSMATERIAL_MODE__Others        0.001690
541                          WALLSMATERIAL_MODE__Panel        0.002814
542                   WALLSMATERIAL_MODE__Stone, brick        0.001324
543                         WALLSMATERIAL_MODE__Wooden        0.001246
544                 WEEKDAY_APPR_PROCESS_START__FRIDAY        0.001004
545                 WEEKDAY_APPR_PROCESS_START__MONDAY        0.000000
546               WEEKDAY_APPR_PROCESS_START__SATURDAY        0.001430
547                 WEEKDAY_APPR_PROCESS_START__SUNDAY        0.000000
548               WEEKDAY_APPR_PROCESS_START__THURSDAY        0.000000
549                WEEKDAY_APPR_PROCESS_START__TUESDAY        0.001094
550              WEEKDAY_APPR_PROCESS_START__WEDNESDAY        0.000781
551                        YEARS_BEGINEXPLUATATION_AVG        0.001616
552                       YEARS_BEGINEXPLUATATION_MEDI        0.001667
553                       YEARS_BEGINEXPLUATATION_MODE        0.002171
554                                    YEARS_BUILD_AVG        0.001399
555                                   YEARS_BUILD_MEDI        0.001128
556                                   YEARS_BUILD_MODE        0.001435

In [10]:
print(df_agg_best_op.shape)

(557, 2)

In [11]:
df_feature_importance = df_feature_importance.merge(df_agg_best_op, how='left', on='Context+root feature')
df_feature_importance['Best operation'] = (df_feature_importance['importance'] == df_feature_importance['importance max'])
df_feature_importance.tail(50)

,feature,importance,Root feature,Context+root feature,Operation,importance max,Best operation
745,CC%SK_DPD#MAX,0.001371,SK_DPD,CC%SK_DPD,max,0.001371,True
746,CC%SK_DPD#MEAN,0.001073,SK_DPD,CC%SK_DPD,mean,0.001371,False
747,CC%SK_DPD#SUM,0.000000,SK_DPD,CC%SK_DPD,sum,0.001371,False
748,CC%SK_DPD#VAR,0.001349,SK_DPD,CC%SK_DPD,var,0.001371,False
749,CC%SK_DPD_DEF#MIN,0.000000,SK_DPD_DEF,CC%SK_DPD_DEF,min,0.001744,False
750,CC%SK_DPD_DEF#MAX,0.001348,SK_DPD_DEF,CC%SK_DPD_DEF,max,0.001744,False
751,CC%SK_DPD_DEF#MEAN,0.001744,SK_DPD_DEF,CC%SK_DPD_DEF,mean,0.001744,True
752,CC%SK_DPD_DEF#SUM,0.000000,SK_DPD_DEF,CC%SK_DPD_DEF,sum,0.001744,False
753,CC%SK_DPD_DEF#VAR,0.000000,SK_DPD_DEF,CC%SK_DPD_DEF,var,0.001744,False
754,CC%NAME_CONTRACT_STATUS__Active#MIN,0.001257,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Active,min,0.001801,False
755,CC%NAME_CONTRACT_STATUS__Active#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Active,max,0.001801,False
756,CC%NAME_CONTRACT_STATUS__Active#MEAN,0.001129,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Active,mean,0.001801,False
757,CC%NAME_CONTRACT_STATUS__Active#SUM,0.001675,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Active,sum,0.001801,False
758,CC%NAME_CONTRACT_STATUS__Active#VAR,0.001801,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Active,var,0.001801,True
759,CC%NAME_CONTRACT_STATUS__Approved#MIN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Approved,min,0.000000,True
760,CC%NAME_CONTRACT_STATUS__Approved#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Approved,max,0.000000,True
761,CC%NAME_CONTRACT_STATUS__Approved#MEAN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Approved,mean,0.000000,True
762,CC%NAME_CONTRACT_STATUS__Approved#SUM,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Approved,sum,0.000000,True
763,CC%NAME_CONTRACT_STATUS__Approved#VAR,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Approved,var,0.000000,True
764,CC%NAME_CONTRACT_STATUS__Completed#MIN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Completed,min,0.000988,False
765,CC%NAME_CONTRACT_STATUS__Completed#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Completed,max,0.000988,False
766,CC%NAME_CONTRACT_STATUS__Completed#MEAN,0.000988,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Completed,mean,0.000988,True
767,CC%NAME_CONTRACT_STATUS__Completed#SUM,0.000886,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Completed,sum,0.000988,False
768,CC%NAME_CONTRACT_STATUS__Completed#VAR,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Completed,var,0.000988,False
769,CC%NAME_CONTRACT_STATUS__Demand#MIN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Demand,min,0.000000,True
770,CC%NAME_CONTRACT_STATUS__Demand#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Demand,max,0.000000,True
771,CC%NAME_CONTRACT_STATUS__Demand#MEAN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Demand,mean,0.000000,True
772,CC%NAME_CONTRACT_STATUS__Demand#SUM,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Demand,sum,0.000000,True
773,CC%NAME_CONTRACT_STATUS__Demand#VAR,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Demand,var,0.000000,True
774,CC%NAME_CONTRACT_STATUS__Refused#MIN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Refused,min,0.000000,True
775,CC%NAME_CONTRACT_STATUS__Refused#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Refused,max,0.000000,True
776,CC%NAME_CONTRACT_STATUS__Refused#MEAN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Refused,mean,0.000000,True
777,CC%NAME_CONTRACT_STATUS__Refused#SUM,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Refused,sum,0.000000,True
778,CC%NAME_CONTRACT_STATUS__Refused#VAR,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Refused,var,0.000000,True
779,CC%NAME_CONTRACT_STATUS__Sent proposal#MIN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Sent proposal,min,0.000000,True
780,CC%NAME_CONTRACT_STATUS__Sent proposal#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Sent proposal,max,0.000000,True
781,CC%NAME_CONTRACT_STATUS__Sent proposal#MEAN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Sent proposal,mean,0.000000,True
782,CC%NAME_CONTRACT_STATUS__Sent proposal#SUM,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Sent proposal,sum,0.000000,True
783,CC%NAME_CONTRACT_STATUS__Sent proposal#VAR,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Sent proposal,var,0.000000,True
784,CC%NAME_CONTRACT_STATUS__Signed#MIN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Signed,min,0.000000,True
785,CC%NAME_CONTRACT_STATUS__Signed#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Signed,max,0.000000,True
786,CC%NAME_CONTRACT_STATUS__Signed#MEAN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Signed,mean,0.000000,True
787,CC%NAME_CONTRACT_STATUS__Signed#SUM,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Signed,sum,0.000000,True
788,CC%NAME_CONTRACT_STATUS__Signed#VAR,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__Signed,var,0.000000,True
789,CC%NAME_CONTRACT_STATUS__nan#MIN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,min,0.000000,True
790,CC%NAME_CONTRACT_STATUS__nan#MAX,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,max,0.000000,True
791,CC%NAME_CONTRACT_STATUS__nan#MEAN,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,mean,0.000000,True
792,CC%NAME_CONTRACT_STATUS__nan#SUM,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,sum,0.000000,True
793,CC%NAME_CONTRACT_STATUS__nan#VAR,0.000000,NAME_CONTRACT_STATUS,CC%NAME_CONTRACT_STATUS__nan,var,0.000000,True
794,CC%COUNT_NR,0.001622,COUNT_NR,CC%COUNT_NR,NaN,0.001622,True

In [12]:
df_feature_importance.to_csv('best_operation.csv', sep=";", index=False)